.flux .reveal .slides > section > section.present {
    top: 0px !important;
    left: -20%;
    text-align: left;
}

.flux .reveal .slides > section > section.present h2 {
    color: black;
    font-family: Panton, sans-serif;
}
